* {
  font-family: Cantarell, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 250;
}

#myBtn {
  position: absolute;
  top: 0;
  right: 30px;
}

#display {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  overflow: hidden;
  gap: 20px;
  justify-content: flex-start;
}

.card {
  width: 250px;
  height: 300px;
  border: thin solid rgba(173, 173, 173, 0.2);
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
  border-radius: 7px;
  box-shadow: 3px 3px 5px 1px rgba(13, 13, 13, 0.54);
  transition: all .25s ease-in-out;
}

.card:hover {
  box-shadow: 6px 6px 9px 3px rgba(13, 13, 13, 0.54);
  transform: scale(101%);

}

.edit {
  position: absolute;
  right: 0;
  top: 2px;
}

.del {
  position: absolute;
  bottom: 2px;
  right: 0;
  color: rgba(220, 51, 48, 0.571);
}

.del:hover {
  color: rgb(252, 20, 16);
}

h3 {
  margin: 0;
  padding: 10px;
}

h5 {
  margin: 4px;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

p {
  white-space: pre;
}

button {
    margin-left: 10%;
    border: 0;
    padding: 0;
    background:rgba(0, 0, 0, 0.0);
    color:rgb(87, 87, 87, 0.7);
    cursor: auto;
    transition: all .25s ease-in-out;
}

button:hover {
  color: rgb(0,0,0);
  cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label, 
input {
    flex: 1;
}

#read {
  margin-bottom: 1em;
}

input,
textarea {
  margin-bottom: 1em;
}

textarea {
  resize: none;
}

input[type=checkbox] {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

p {
  display: inline;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-bottom: 25px;
    border: 1px solid #888;
    width: 80%;
    min-width: 25em;
    max-width: 50em;
    position: relative;
    border-radius: 10px;
    box-shadow: 6px 3px 15px rgba(0, 0, 0, 0.778);
    border: 1px solid rgb(87, 87, 87);
  }

  .close {
    color: #aaaaaa;
    font-size: 28px;
    position: absolute;
    top: .2em;
    right: .2em;
    transition: all .25s ease-in-out;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  fieldset {
    border-radius: 7px;
    padding: 1em;
  }
  
  legend {
    font-weight: 500;
  }

  #submit {
    width: 10em;
    height: 2em;
    margin-block: 1em;
    margin-left: 0;
    border:rgb(0, 0, 0);
    background-color: rgba(44, 145, 212, 0.5);;
    border-radius: 3px;
    color: black;
    transition: all .3s ease-in-out;
  }

  #submit:hover {
    background-color: rgb(38, 144, 230);
  }